@media (max-width:1044px) {
.header {
    flex-direction: column;
}

.logo h1{
    font-size: 2.5rem;
  }

.menu {
    flex-direction: column;
    margin-top: 50px;
}

.menu li {
    padding: 15px 30px;
    font-size: 30px;
}

.menu a.botao {
font-size: 15px;
padding: 15px 30px;
}
}